<a href="https://colab.research.google.com/github/its-kanii/SQL-DDL-Commands/blob/main/sql_ddl_commands_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
!pip install ipython-sql
%load_ext sql
%sql sqlite:///:memory:  # Create an in-memory database

In [10]:
# Apply the deprecated default style
%config SqlMagic.style='_DEPRECATED_DEFAULT'

# Examples with Real-Time Queries

# 1.CREATE
Creates a table called employees with columns for ID, name, and salary.

In [31]:
%%sql
CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    employee_name VARCHAR(100),
    salary DECIMAL(10, 2)
);

# 2. ALTER
Adds a new column (department) to the employees table.

In [31]:
%%sql
ALTER TABLE employees
ADD department VARCHAR(50);

#3. DROP
Deletes the employees table from the database.

In [31]:
%%sql
DROP TABLE employees;

#4. TRUNCATE
Removes all rows from the employees table but keeps the table structure.

In [29]:
%%sql
TRUNCATE TABLE employees;

#5. RENAME
Renames the employees table to staff.

In [30]:
%%sql
RENAME TABLE employees TO staff;

#Real-Time Use Case Example
Imagine you're working with an E-commerce Database and need to manage customer data. You might use these DDL commands as follows:


*  Create a new table to store customer details:

In [ ]:
%%sql
CREATE TABLE customers (
    customer_id INT PRIMARY KEY,
    customer_name VARCHAR(100),
    email VARCHAR(100),
    phone_number VARCHAR(15)
);



*  Alter the table to add a column for the customer's address

In [ ]:
%%sql
ALTER TABLE customers
ADD address VARCHAR(255);



*  If the table was incorrectly named, you could rename it

In [ ]:
%%sql
RENAME TABLE customers TO clients;



*  If a table needs to be deleted, like when a customer data table is no longer required, you can drop it:

In [ ]:
%%sql
DROP TABLE clients;



*  If you want to remove all data but keep the table structure (e.g., clearing customer records after a policy update)

In [ ]:
%%sql
TRUNCATE TABLE clients;